
<html>
  <head>
    <title>{{title}}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="assets/css/main.css" />
  </head>
  <body>

    <!-- Header -->
   {{> header}}

    <!-- Nav -->
   {{> navbar }}

    <!-- One -->
   <section id="one" class="wrapper post bg-img" data-bg="banner2.jpg">
      <div class="inner">
        <h1>404 | Page not found</h1>
        <a href="">Go to home</a>
      </div>
      <a href="#two" class="more">Learn More</a>
    </section>  
   
   
    <!-- Footer -->
    {{> footer}}
  </body>
</html>